@import "tailwindcss";

html,
body {
  background-color: #fcf7f7;
  /* remove scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

:root {
  --primary: #ed2626;
  --secondary: #f2a6a6;
  --background: #fcf7f7;
  --text: #1c0d0d;
  --placeholder: #994d4d;
  --border: #e8cfcf;
}
